<ion-view>
<ion-content overflow-scroll="true">


<div>
  <button class= 'button button-stable margin-top' ng-click='back()'>Back &lt;&lt;</button>

  <hr class='thin-hr'>
  <div ng-show='post.isCurrentDibber' class='margin-bottom'>
    <button  class= "button button-balanced button-full"
    ng-click='goChat(post)'>Dibbed! Send a message to the lister! &gt;&gt;</button>
    <a class="cancel-give" ng-click="unDib()"
    >UnDibs! (I don't want this anymore)</a>
  </div>

  <div ng-if="post.showEdit()">
    <div ng-hide="currentDib">  
      <button class="button button-dark margin-bottom"
      >This stuff hasn't been Dibbed yet...</button>
    </div>
    <div ng-show="currentDib">
      <button class="dib-button dibbed">
        <span class="glyphicon glyphicon-message">
        </span>
        &nbsp;&gt;&gt;
      </button>
    </div>
  </div>

  <span><h2>{{post.title}}</h2></span>

  <br>
  <div ng-if='post.category' class='floating stuff-category'>
    {{post.category}}
  </div>

  <div class='floating stuff-status'>
    {{post.status}}
  </div>
  <img class="img-detail" 
  ng-src={{post.image_url}} fallback-src >
  </img>

  <div class='detail-description'>
    <div class='faded-text'>
      Description
    </div>
    <br/>
    <span ng-show='post.description'>{{post.description}}</span>
    <span ng-hide='post.description'>No description provided</span>
  </div>

  <button ng-show="post.showDib()" class= 'button button-balanced dibs-button' ng-click='dib(post)'>Dibs &gt;&gt;</button>

</div>
</ion-content>
</ion-view>