<ion-view>
<ion-content overflow-scroll="true">


<div>
  <button class= 'dib-button dib-button-details' ng-click='back()'>Back &lt;&lt;</button>

  <settings ng-if='post.showEdit()'></settings>


  <hr class='thin-hr'>
  <div ng-show='post.isCurrentDibber'>
    <button  class= "dib-button dib-button-send-message"
    ng-click='goChat(post)'>Dibbed! Send a message to the lister! &gt;&gt;</button>
    <a href='#' class='undib-link' ng-click="unDib()"
    >Undib! I don't want this anymore</a>
    <hr class='thin-hr'>
  </div>

  <div ng-if="post.showEdit()">
    <div ng-hide="currentDib">  
      <button class="dib-button not-dibbed"
      >This stuff hasn't been dibbed yet...</button>
    </div>
    <div ng-show="currentDib">
      <button class="dib-button dibbed">
        <span class="glyphicon glyphicon-message">
        </span>
        &nbsp;&gt;&gt;
      </button>
    </div>
  </div>

  <span>{{post.title}}</span>

  <br>
  <div class='floating stuff-category'>
    {{post.category}}
  </div>

  <div class='floating stuff-status'>
    {{post.status}}
  </div>
  <a ng-href="{{post.originalImage}}" >
    <img class="img-responsive img-detail" 
    ng-src={{post.image_url}} fallback-src >
    </img>
  </a>

  <div class='detail-description'>
    <span>{{post.description}}</span>
  </div>

  <button ng-show="post.showDib()" class= 'dib-button dib-button-details' ng-click='dib(post)'>I want this stuff! &gt;&gt;</button>

</div>
</ion-content>
</ion-view>