
<ion-vew>
<ion-content overflow-scroll="true">
<div  id="giveMap" class="centerMarker" data-tap-disabled="true"></div>
<div ng-hide='main.getCurrentUser()' class='overlay-info add-margin-top-50' >
  Please <a class='btn' ui-sref='user' >Sign In</a> to give stuff

</div>
<div ng-show="loading" class="col-lg-12 col-md-12 col-xs-12 overlay-info">
  <div class="col-lg-10 col-md-10 col-xs-10" ><h5>Uploading Photo</h5>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-2 " >
    <img class='img-responsive' ng-src={{current_image}} >
  </div>
</div>

<div id="give-stuff" class="col-lg-12 col-md-12 col-xs-12 to-edge">


  <div class="col-lg-12 col-md-12 col-xs-12"
   ng-class="loading || !currentUser ? 'overlay-active' : 'overlay-inactive' ">
  </div>

  <div id='give-1' ng-show='giveState(1)' class='add-margin-top-15'>
    <div class="col-lg-12
      col-md-12 col-xs-12 text-0">
       <h4 class='text-0-bold'> Is your location correct? </h4>
       <p><span> This is where your stuff will show up on the map. If the pickup
         location is somewhere else, move the</span> <!-- <img class='emoji-size' ng-src='<%= asset_path('pin.svg')%>' > -->
        <span class='text-1'>pin</span><span> to where you want to map the item. </span> </p>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12 add-margin-top-15"></div>
    <div class='col-lg-4 col-sm-hide col-md-hide to-edge btn stuff-btn gray-btn'
     ng-click='panToLocation()'>
      <span class="glyphicon glyphicon-screenshot"
        aria-hidden="true"></span><span> Find my Location</span>
    </div>


         <span>It's correct! Let's add a photo &gt;&gt; </span>
    <button ng-if="imgSrc == undefined" class='btn col-lg-8 col-md-12 col-xs-12  stuff-btn
      green-btn' ng-click="takePicture()">Camera
    </button>
    <button ng-if="imgSrc == undefined" class='btn col-lg-8 col-md-12 col-xs-12  stuff-btn
      green-btn' ng-click="selectPictureStorage()">Choose from Storage 
    </button>
    <div class='card'>
      <div class='item item-image'>
        <img ng-src="{{imgSrc}}"/>
      </div>
    </div>
     <button ng-if="imgSrc" class='btn col-lg-8 col-md-12 col-xs-12  stuff-btn
      green-btn' ng-click="choosePicture(imgSrc)">Select Image
    </button> 
     <button ng-if="imgSrc" class='btn col-lg-8 col-md-12 col-xs-12  stuff-btn
      green-btn' ng-click="unselectPicture()">Select Another Picture
    </button> 
  </div>

  <div id="give-2" ng-show='pictureChosen' class='pull-sm-bottom to-edge'>
    <div class="card">
      <img class="item item-image" 
      ng-src="{{post.imageSrc}}"></img>
    </div>

    <div class="form-group col-lg-12 col-md-12 col-xs-8 add-margin-top-15" >
      <select class="form-control" id="category" placeholder="Category" ng-model="category" >
        <option value="" disabled selected>Choose a category</option>
        <option ng-repeat="category in categories">{{category}}</option>
      </select>
    </div>

    <div class="">
      <div class="form-group">
        <input type="text" class="form-control" id="title"
        placeholder="Title" ng-model="title">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="description"
        placeholder="Describe this stuff (you can use #tags)" ng-model="description">
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" id="on_the_curb" name="on_the_curb"
          ng-model="post.on_the_curb" value='' >
          <small>This item is on the curb/outside/unattended by me.</small>
        </label>
      </div>
    </div>

    <div class="">
      <button class=""
      id="give-stuff-submit" ng-click="submitPost()">
        Map my stuff! >>
      </button>

      <a href='#'class=""
       ng-click="cancelGive()">
        Cancel
      </a>
    </div>
  </div>
</div>
</ion-content>
</ion-vew>