
<ion-vew>
<ion-content overflow-scroll="true">
<div  id="giveMap" class="centerMarker" ng-class='mapStatus' data-tap-disabled="true"></div>
<div ng-hide='main.getCurrentUser()'>
  Please <a class='btn' ui-sref='user' >Sign In</a> to give stuff

</div>

<div id="give-stuff">

    <div ng-if='!locationSelected'>
      <div ng-if='!pictureChosen'>
        <div>
           <h4> Is your location correct? </h4>
           <p><span> This is where your stuff will show up on the map. If the pickup
             location is somewhere else, move the</span> 
            <span>pin to where you want to map the item. </span> </p>
        </div>

      <button class='button btn-margin'
       ng-click='panToLocation()'>
        <span class="glyphicon glyphicon-screenshot"
          aria-hidden="true"></span><span> Find my Location</span>
      </button>
      <button class='button button-positive btn-margin' ng-click='selectLocation()'>Choose a photo &gt;&gt;</button>
    </div>
    </div>
    <div class='camera-buttons' ng-if='locationSelected'>
      <button ng-if="imgSrc == undefined" class='button button-calm btn-margin' ng-click="takePicture()">Take a Picture
      </button>
      <button ng-if="imgSrc == undefined" class='button button-calm btn-margin' ng-click="selectPictureStorage()">Choose from Storage 
      </button>
      <div class='card' ng-if='imgSrc'>
        <div class='item item-image'>
          <img ng-src="{{imgSrc}}"/>
        </div>
      </div>
    </div>
    <div class="camera-buttons">
       <button ng-if="imgSrc" class='button button-calm btn-margin' ng-click="returnToSelectLocation()">Change Location</button>
       <button ng-if="imgSrc && pictureChosen == false" class='button button-balanced btn-margin' ng-click="choosePicture(imgSrc)">Accept Image?
      </button> 
       <button ng-if="imgSrc" class='button button-positive btn-margin' ng-click="unselectPicture()">Change Image
      </button> 
    </div>
  </div>

  <div ng-if='pictureChosen'>
    <div class="card">
      <img class="item item-image" 
      ng-src="{{post.imageSrc}}"></img>
    </div>
    <div ng-if='pictureChosen'>
    <div>
      <select class="form-control" id="category" placeholder="Category" ng-model="postParams.category" >
        <option value="" disabled selected>Choose a category</option>
        <option ng-repeat="category in categories">{{category}}</option>
      </select>
    </div>

    <div class="">
      <div class="form-group">
        <input type="text" class="form-control" id="title"
        placeholder="Title" ng-model="postParams.title">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="description"
        placeholder="Describe this stuff (you can use #tags)" ng-model="postParams.description">
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" id="on_the_curb" name="on_the_curb"
          ng-model="postParams.on_the_curb" value='' >
          <small>This item is on the curb/outside/unattended by me.</small>
        </label>
      </div>
    </div>

    <div class="camera-buttons">
      <button class="button button-positive"
      id="give-stuff-submit" ng-click="submitPost(postParams)">
        Submit Post >>
      </button>

      <a class=""
       ui-sref='tabs.map'>
        Cancel
      </a>
    </div>
    </div>
  </div>
</div>
</ion-content>
</ion-vew>