<ion-content>
  <div class="container-fluid signin" id="signin" ng-controller='UserCtrl as userCtrl'>
      <h3>Login</h3>
      <a ui-sref="signup">Need to Sign Up?</a>

     <form name="form">
        <div class="form-group">
          <label for="username"><b>Username or Email</b> *</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username or Email" ng-model="username" required>
          <div ng-show="form.$submitted || form.username.$touched">
            <span ng-show="form.username.$error.required" style="color: red">&nbsp;- Required -</span>
          </div>
          <label for="password"><b>Password</b> *</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" ng-model="password" required>
          <div ng-show="form.$submitted || form.password.$touched">
            <span ng-show="form.password.$error.required" style="color: red">&nbsp;- Required -</span>
          </div>
          <!-- <a href='#' ng-click='userCtrl.resetPW() ' class='pull-left'>Forgot Password?</a> -->
        </div>
        <button class="btn btn-primary" ng-click="form.$valid && userCtrl.signin()">Sign In</button>

        <button class="btn btn-warning " ng-click='main.back()'>Cancel</button>
      </form>
      <br>
      <a href="#" ng-click="userCtrl.resetPW()">Forgot password?</a>
      <br>
      
      <button class="loginBtn loginBtn-google" ng-click='userCtrl.signinGoogle()'>Google Signin</button>
      <button class="loginBtn loginBtn-facebook" ng-click='userCtrl.signinFacebook()'>Facebook Signin</button>
  </div>
</ion-content>
