<ion-view>
<ion-content overflow-scroll="true">
<div ng-hide='main.getCurrentUser()' class="overlay-info add-margin-top-50" >
  Please
  <a class='btn'
  ng-click="showSignin()" >Sign In</a>to view your stuff
</div>

<div id="my-stuff" >

  <h4 class ="col-md-6 col-lg-6 col-xs-6 to_edge">Want!ed</h4>
  <h5 class ="col-md-6 col-lg-6 col-xs-6">
    <a href='#' class="pull-right">Archived >> </a>
  </h5>
  <hr>
  <div class="col-lg-12 col-md-12 col-xs-12" >
    <div class="row to_edge" ng-repeat="want in myWants | orderObjectBy:'updated_at':true track by $index" >
      <mywant post='want'></mywantsbtn>
    </div>  
  </div>

  <h4 class ="col-md-6 col-lg-6 col-xs-6 to_edge">Giving</h4>
  <h5 class ="col-md-6 col-lg-6 col-xs-6">
    <a href='#' class="pull-right">Archived >> </a>
  </h5>
  <hr>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="row to_edge" ng-repeat="post in myPosts | orderObjectBy:'updated_at':true track by $index" >
    <!-- <div>{{post}}</div> -->
      <mypost post='post'></mypost>
    </div> 
  </div>
  <hr>

</div>

<div class="col-lg-12 col-md-12 col-xs-12" ng-class="!currentUser ? 'overlay-active' : 'overlay-inactive' ">
</div>
</ion-content>
</ion-view>