<ion-view>
<ion-content overflow-scroll="true">
<div ng-hide='main.getCurrentUser()' class="overlay-info add-margin-top-50" >
  Please
  <a class='btn'
  ui-sref='user'>Sign In</a>to view your stuff
</div>

<div id="my-stuff" >

  <h4 class ="">My Active Dibs</h4>
<!--   <h5 class ="">
    <a href='#' class="pull-right">Archived &lt;&lt; </a>
  </h5> -->
  <hr>
  <div class="" >
    <div class="row" ng-repeat="want in myDibs | orderObjectBy:'updated_at':true track by $index" >
      <mywant post='want'></mywantsbtn>
    </div>  
  </div>

  <h4 class ="">Giving</h4>
<!--   <h5 class ="">
    <a href='#' class="pull-right">Archived &lt;&lt;</a>
  </h5> -->
  <hr>
  <div class="center">
    <div class="row center" ng-repeat="post in myPosts | orderObjectBy:'updated_at':true track by $index" >
    <!-- <div>{{post}}</div> -->
      <mypost post='post'></mypost>
    </div> 
  </div>
  <hr>

</div>

<div class="" ng-class="!currentUser ? 'overlay-active' : 'overlay-inactive' ">
</div>
</ion-content>
</ion-view>