<ion-view>
<ion-content>
  <ion-scroll overflow-scroll="true">
    <h3>Sign Up</h3>
    <div>
      <p>By clicking sign up, I agree to the
        <a ui-sref="terms">Terms of Use</a>
        and <a ui-sref="policy">Privacy Policy.</a>
      </p>
    </div>
    <form name="form" novalidate>

      <div class="form-group">
        <div id="first-name">
          <label for="first_name">First Name *</label>
          <input type="text" name='first_name' class="form-control" id="first_name"
          placeholder="First Name" ng-model="user.first_name" required>
          <div ng-show="form.$submitted || form.first_name.$touched">
            <span ng-show="form.first_name.$error.required" style="color: red">&nbsp;- Required -</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div id="last-name">
          <label for="last_name">Last Name *</label>
          <input type="text" name="last_name" class="form-control" id="last_name"
          placeholder="Last Name" ng-model="user.last_name" required>
          <div ng-show="form.$submitted || form.last_name.$touched">
            <span ng-show="form.last_name.$error.required" style="color: red">&nbsp;- Required -</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email Address *</label>
        <input type="email" name="email" class="form-control" id="email"
        placeholder="Enter email" ng-model="user.email" required>
          <div ng-show="form.$submitted || form.email.$touched">
            <span ng-show="form.email.$error.required" style="color: red">&nbsp;- Required -</span>
            <span ng-show="form.email.$error.email" style="color: red">&nbsp;- Invalid -</span>
          </div>
      </div>

      <div class="form-group">
        <label for="username">Username *</label>
        <input type="text" name="username" class="form-control" id="username"
        placeholder="Username" ng-model="user.username" required>
          <div ng-show="form.$submitted || form.username.$touched">
            <span ng-show="form.username.$error.required" style="color: red">&nbsp;- Required -</span>
          </div>
      </div>

      <div class="form-group">
        <label for="password">Password *</label>
        <input type="password" name="password" class="form-control" id="password"
        placeholder="Password" ng-model="user.password" required>
        <div ng-show="form.$submitted || form.password.$touched">
          <span ng-show="form.password.$error.required" style="color: red">&nbsp;- Required -</span>
        </div>
      </div>

      <div class="form-group">
        <label for="password_confirmation">Password Confirmation *</label>
        <input type="password" name="password_confirmation" class="form-control"
        id="password_confirmation" placeholder="Confirm Password"
        ng-model="user.password_confirmation" required>
        <div ng-show="form.$submitted || form.password_confirmation.$touched">
          <span ng-show="form.password_confirmation.$error.required" style="color: red">&nbsp;- Required -</span>
        </div>
      </div>

      <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <label id="option" for="optional"> (optional) </label>
        <input type="tel" class="form-control" id="phone_number" placeholder="Phone Number" ng-model="user.phone_number">
      </div>



      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 add-margin-top-15">
        <button class="button button-full button-calm center"
        ng-click="form.$valid && signup(user)">Sign Up</button>
        <button class="button button-full button-stable center"
        ng-click="cancel()">Cancel</button>
      </div>
    </form>

  </ion-scroll>
</ion-content>
</ion-view>