<div class='card row my-post-wrapper' ng-class='expandForChat'>
  <div class="col-33">
    <img class="item item-thumbnail-left my-img" ng-src={{post.image_url}}></img>
  </div>
  <div class="col-67">
    <div class='row'>
      <div class="col col-66">
        {{post.title}}
      </div>
      <div class='col col-33'>
        <settings post='post'></settings>
      </div>
    </div>
    <div class='row'>    
      <button class="button my-button" ng-class="{'button-stable listed' : post.currentDib === false, 'button-balanced newMessage' : post.newMessage === true, 'button-calm noNewMessage' : post.newMessage === false && post.currentDib === true}">
      </button>
    </div>

    </div>
</div>
