<div class="row to_edge" ng-repeat="item in show('creator') | orderObjectBy:'updated_at':true track by $index" >
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mystuff-row">
    <img class="img-responsive" ng-src={{item.image_url}}></img>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="col-lg-12 col-md-12 col-sm-12 mystuff-half-row">
      
      <div class='settings-group' ng-show="true" >
        <ul>
          <li class='settings-btn-wrapper'>
            <button class='settings-btn'>
              Settings&nbsp;<span class='glyphicon glyphicon-cog'></span>
            </button>
            <ul>
              <li ng-show='currentDib'>
                <button class='setting-option-btn message'>
                  <span class='glyphicon glyphicon-pencil'></span>&nbsp;&gt;&gt;
                </button>
              </li>
              <li ng-show='item.showEdit()' ng-click="item.markGone()">
                <button class='setting-option-btn mark-as-picked-up' 
                ng-click='item.markGone()'>
                  Mark As Picked Up
                </button>
              </li>
              <li ng-show='item.showWanted()'>
                <button class='setting-option-btn reject-dibs'
                ng-click="item.rejectDibber()">
                  Reject Dibs
                </button>
              </li>
              <li>
                <button class='setting-option-btn edit-item'
                ng-click="stuff.edit(stuff.id)">
                <!-- consider putting edit into a directive that has this function in lieu of relying on the stuffctrl -->
                  Edit Item
                </button>
              </li>
              <li ng-hide='currentDib'>
                <button class='setting-option-btn delete-item' 
                ng-click='deletePost(stuff.id)'>
                <!-- consider putting deletPost into a directive that has this function in lieu of relying on the stuffctrl -->
                  Delete
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
        
    <button ng-show='item.showWanted()' class="col-lg-12 col-md-12 col-sm-12 mystuff-half-row">
    Wanted!(Waiting for messages)
    </button>
  </div>

</div>
