<div class='card row'>
  <div class="col-33">
    <img class="item item-thumbnail-left my-img" ng-src={{post.image_url}}></img>
  </div>
  <div class="col-67">
    <div class='row'>
      <div class="col col-66">
        {{post.title}}
      </div>
      <div class='col col-33'>
        <settings post='post'></settings>
      </div>
    </div>
    <div class='row'>    
      <button ng-show='post.showWanted()' class="mystuff-half-row">
      Wanted!(Waiting for messages)
      </button>
    </div>
  </div>
</div>
