<div class='my-post-container'>
  <div class='card'>
    <div class='row my-detail-container' ng-class='expandForChat'>
      <div class="col col-33">
        <div class='capitalize'>
          <em>{{post.status}}</em>
        </div>
        <img class="item my-img" ng-src={{post.image_url}}></img>
      </div>
      <div class="col">
        <div class='row'>
          <div class="col col-67">
            {{post.title}}
          </div>
          <div class='col my-settings'>
            <button class='button button-positive' ng-click='getDetails()'>Details</button>
          </div>
        </div>
        <div class='row'>    
          <button class="button my-button" ng-class="{'button-balanced newMessage' : unread == true, 'button-calm noNewMessage' : unread == false && post.currentDib}" ng-click='toggleChat()'>
          </button>
        </div>
      </div>

    </div>
    <div class='row chat-container' ng-if='showChat'>
      <chat dibs='post.currentDib.id' show-chat='showChat'></chat>
    </div>
  </div>
</div>
